<div class="container">
    <h4>Formularios <small>template</small></h4>
<hr>


<form novalidate (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               required
               minlength="5"
               placeholder="Nombre"
               #nombre="ngModel">
               <div *ngIf="nombre.errors?.required" >
                   Este campo es requerido
               </div>
               <div *ngIf="nombre.errors?.minlength">
                Este campo requiere por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres
            </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               required
               placeholder="Apellido"
               #apellido="ngModel">
        <div *ngIf="apellido.errors?.required" >
                Este campo es requerido
            </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             name="email"
             [(ngModel)]="usuario.email"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             required
             placeholder="Correo electrónico"
             #email="ngModel">
             <div *ngIf="email.errors?.required" >
                Este campo es requerido
            </div>
            <div *ngIf="email.errors?.pattern" >
                El correo no es valido
            </div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

</div>